<html>
<head>
<meta charset="UTF-8" />
<title>detail</title>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="container" style="width: 900px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">
    function make_pie(data, chartName){
        var series = [data]
        var chart = {
               plotBackgroundColor: null,
               plotBorderWidth: null,
               plotShadow: false
        };
        var title = {
              text: chartName
        };
        var tooltip = {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        };
        var plotOptions = {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {  
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            };
        var json = {}
        json.chart = chart;
        json.title = title;     
        json.tooltip = tooltip;  
        json.plotOptions = plotOptions;
        json.series = series
        return json
        
    }

    function make_bar(chart_name, subtitle, categories, data) {
        var title = {
            text: chart_name
        }
        var subtitle = {
            text: subtitle
        }
        var xAxis = {
            categories: categories
        }
        var series = [data]
        var json = {}
        json.title = title
        json.subtitle = subtitle
        json.xAxis = xAxis
        json.series = series
        return json
    }

    function make_line(chart_name, subtitle, x_cat, y_name, data) {
        var json = {
                title: {
                    text: chart_name
                    },
                subtitle: {
                    text: subtitle
                    },
                yAxis: {
                    title: {
                        text: y_name
                        }
                    },
                xAxis: {
                    categories: x_cat
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        }
                        // pointStart:
                    }
                },
                series: data,
                // [{
                //     name: 'test1',
                //     data: [4000,5000,5555,8888,9999,7777,5555,6666,4444]
                //     },
                //     {
                //     name: 'test2',
                //     data: [4120,5410,5755,8588,9499,7277,5155,6366,4744]
                //     },
                //     {
                //     name: 'test3',
                //     data: [4050,5100,5535,8288,9799,7757,5455,6636,4144]
                //     },
                //     {
                //     name: 'test4',
                //     data: [4700,5700,5855,8188,9399,7177,5255,6366,4944]
                // }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 300
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'left',
                                verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        }
        return json

    }
    function ajax_sido(sidoName) {
        return new Promise((resolve, reject) => {
            setTimeout(() => {
                $.ajax({
                    url:'requestJson/',
                    type:"POST",
                    dataType:'json',
                    data:sidoName,
                    headers:{"X-CSRFToken": "{{ csrf_token }}"},
                    success:function(data) {
                        resolve(data)
                    },
                    error:function(data, error) {
                        reject(data, error)
                    }
                })
            }, 0)
        })
    }

    function sido_json(sido, name) {
        ajax_sido(sido).then((data) => {
            console.log(data)
            // x_data = [{
            //         name: 'test1',
            //         data: [4000,5000,5555,8888,9999,7777,5555,6666,4444]
            //         },
            //         {
            //         name: 'test2',
            //         data: [4120,5410,5755,8588,9499,7277,5155,6366,4744]
            //         },
            //         {
            //         name: 'test3',
            //         data: [4050,5100,5535,8288,9799,7757,5455,6636,4144]
            //         },
            //         {
            //         name: 'test4',
            //         data: [4700,5700,5855,8188,9399,7177,5255,6366,4944]
            //     }]
            // json = make_line('전국', '전국', ['2020-1q','2020-2q','2020-3q','2020-4q', '2021-1q', '2021-2q', '2021-31q', '2021-4q', '2022-1q'], 'sold_cost', x_data)
            json = make_pie(data, name)
            $("#container").highcharts(json)
        }).catch((data, error) => {
            console.log(error)
        })
    }

    $(function(){
        want_find = {'chart_kind' : 'pie', 'sidoname' : '부산'}
        sido_json(want_find, want_find.sidoname)

    })
</script>
</body>
</html>
